.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.pagination{
    position: absolute;
    left: 50%
}
.annonce{
    margin-bottom: 2%;
}

#rechbar{
    margin-bottom: 0.5%;
}