.container {
  display: flex;
  flex-direction: row;
}

.photo {
  flex: 1;
  display: grid;
  place-items: center;
  margin-bottom: 5px;
  margin-right: 5px;
  max-width: 100px;
}
img {
  max-width: 100%;
}
.informations {
  flex: 1;
  display: grid;
}
